<div class="row justify-content-md-center">
  <div class="col-sm-8 col-md-5 content">
    <div class="content_info actividades">
      <h3> Actividades </h3>
      </div>
    <div class="content_info">
      <img class="imagen" src="./assets/img/3.jpg"/>
      </div>

    </div>
  <div class="col-sm-8 col-md-5 content">
    <div class="content_info instalaciones">
      <h3> Instalaciones </h3>
      </div>
    <div class="content_info">
      <img class="imagen" src="./assets/img/4.jpg"/>
      </div>
    </div>
  <div class="col-sm-8 col-md-5 content">
    <div class="content_info torneos">
      <h3> Torneos </h3>
      </div>
    <div class="content_info">
      <img class="imagen" src="./assets/img/5.jpeg"/>
      </div>
    </div>
  <div class="col-sm-8 col-md-5 content">
    <div class="content_info reservas">
      <h3> Reservas </h3>
      </div>
    <div class="content_info">
      <img class="imagen" src="./assets/img/6.jpg"/>
      </div>
    </div>
  </div>
