<div id="main" class="container">
  <div class="row main-image">
    <div class="image-info">
      <img class="image-icon" src="assets/img/icon.png"/>
      <h1> Campus Sur </h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm-8 col-md-5 content">
      <div class="content_info actividades">
        <h3> Actividades </h3>
      </div>
      <div class="content_info">
        <p>En estas instalaciones, se llevara a cabo actividades de libre acceso.</p>
        <p>Con estos eventos se pretende fomentar la interacción entre las personas que usen las instalaciones.</p>
      </div>

    </div>
    <div class="col-sm-8 col-md-5 content">
      <div class="content_info instalaciones">
        <h3> Instalaciones </h3>
      </div>
      <div class="content_info">
        <ul>
          <li>4 pistas de cristal cubiertas.</li>
          <li>3 pistas de cristal semicubiertas.</li>
          <li>3 pistas de cemento exteriores.</li>
          <li>2 pistas de tenis.</li>
          <li>Vestuarios completos.</li>
          <li>Cafeteria con terraza.</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8 col-md-5 content">
      <div class="content_info torneos">
        <h3> Torneos </h3>
      </div>
      <div class="content_info">
        <p>Se convocará torneos mensualmente para que participe todo aquel que lo desee.</p>
      </div>
    </div>
    <div class="col-sm-8 col-md-5 content">
      <div class="content_info reservas">
        <h3> Reservas </h3>
      </div>
      <div class="content_info">
        <p>Se permitirá hacer la reserva de las instalaciones mediante registro en esta web.</p>
      </div>
    </div>
  </div>
</div>
